# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.env
.venv/
venv/
ENV/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDE
.idea/
.vscode/*
!.vscode/launch.json
!.vscode/settings.json

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
logs/
*.log