# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.env
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/*
!.vscode/launch.json
!.vscode/settings.json

# Project specific
sandbox/
logs/
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/ 